<!-- Page content -->
<div xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
     layout:decorator="mainTemplate" layout:fragment="content">

    <div class="header pb-6 pt-5 pt-lg-8 d-flex align-items-center">
        <!-- Mask -->

        <!-- Header container -->

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="col-xl-12 pr-lg-0">
                        <div class="col-12 d-flex justify-content-between p-3 pr-xl-5">Scheduled Messages
                            <a href="#!" class="btn btn-sm btn-success">Add Contact</a>
                        </div>
                    </div>   
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Category</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${contactList}">
                                <th scope="row">
                                    <a th:href="@{'/contacts/edit/'} + ${row.ident}" class="btn btn-sm btn-link">Edit</a>
                                    <a th:href="@{'/contacts/delete/'} + ${row.ident}" class="btn btn-sm btn-link" onclick="return confirm('Are you sure?')">Delete</a>
                                </th>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <!--<a href="#" class="avatar rounded-circle mr-3">-->
                                            <!--<img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">-->
                                        <!--</a>-->
                                        <div class="media-body">
                                            <span class="mb-0 text-sm" th:text="${row.firstName + ' ' + row.lastName}">Dan Torrey</span>
                                        </div>
                                    </div>
                                </th>
                                <td  th:text="${row.phone}"> 2098148114</td>
                                <td>None
                                </td>


                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="container-fluid mt--10 mb-5">
            <!-- Table -->
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="col-xl-12 pr-lg-0">
                            <div class="col-12 d-flex justify-content-between p-3 pr-xl-5">Sent Messages
                                <a href="#!" class="btn btn-sm btn-success">Add Contact</a>
                            </div>
                        </div>   
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr class="ml-5">
                                    <th scope="col">Date Sent</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="row : ${contactList}">
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <!--<a href="#" class="avatar rounded-circle mr-3">-->
                                                <!--<img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">-->
                                            <!--</a>-->
                                            <div class="media-body">
                                                <span class="mb-0 text-sm" th:text="${row.Date}">Dan Torrey</span>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <!--<a href="#" class="avatar rounded-circle mr-3">-->
                                                <!--<img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">-->
                                            <!--</a>-->
                                            <div class="media-body">
                                                <span class="mb-0 text-sm" th:text="${row.firstName + ' ' + row.lastName}">Dan Torrey</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td  th:text="${row.phone}"> 2098148114</td>
                                    <td>None
                                    </td>
    
    
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer py-4">
    
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>  
</div>
