<!-- Page content -->
<div xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
layout:decorator="mainTemplate" layout:fragment="content" >

<div class="header pb-7 pt-5 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  
  <!-- Header container -->
  
</div>
<!-- Page content -->
<div class="container-fluid mt-7ml">
    <button type="button" class=tn btn-secondary btn-lg btn-lg mt-5">Send Text</button>
    <button type="button" class="btn btn-secondary btn-lg btn-lg mt-5">Send Email</button>


</div>